// Colours
$dark-green: #7BA982;
$green: #DFEDC5;
$red: #C90606;

// Fonts
$din_reg: 'din_regular', sans-serif;
$din_bold: 'din_bold', sans-serif;

// Box shadow
$drop-shadow:  0 1px 1px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.05), 0 4px 4px rgba(0,0,0,0.05), 0 8px 8px rgba(0,0,0,0.05);