@tailwind base;
@tailwind components;
@tailwind utilities;

//Body
body {
    background-image: url('../../images/bg_blob.svg');
    background-size: 150%;
    background-position-y: 75%;
    background-repeat: repeat-y;
    overflow: visible;
}

// Fonts
    @font-face {
        font-family: 'din_bold';
        src: url('/fonts/urwdin-bold.ttf') format('truetype');
        font-weight: bold;
        font-style: bold;
    }

    @font-face {
        font-family: 'din_regular';
        src: url('/fonts/urwdin-regular.ttf') format('truetype');
        font-weight: bold;
        font-style: bold;
    }

    @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

// Variables
    @import 'variables';

    #app {
        overflow: hidden;
    }

    h1 {
        font-family: 'Old Standard TT', serif;
        font-size: 2.25rem;
    }

    p {
        font-family: 'din_regular', sans-serif;
    }

// Nav
#main-nav {
    position: relative;
    bottom: 0;
    width: 100%;

    .container {
        padding-top: 8rem;
        position: relative;
    }

    #menu {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 4;
        padding: 2rem;
        transition: all 0.2s ease;
    }

    .menu-active {
        opacity: 1 !important;
        height: 100vh !important;
        width: 100% !important;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;

        a {
            color: white;
        }
    }

    .toggle-menu {
        position: relative;
        z-index: 5;
        background-color: black;
        padding: 1rem;
        color: white;
    }

    .logo {
        width: 100px;
    }
}

.dashnav {
    padding-top: 1rem !important;
}

#infobox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
        position: absolute;
        z-index: -1;
    }

    img:nth-of-type(1) {
        top: -1rem;
        right: -2rem;
    }

    p {
        text-align: center;
        margin: auto;
    }

    span:nth-child(2)::before {
        content: "|";
        margin: 0 1rem;
    }
}

#next-market {
    margin-left: auto;
    background-color: black;
    padding: 1rem 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                0 2px 4px rgba(0,0,0,0.07),
                0 4px 8px rgba(0,0,0,0.07),
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07),
                0 32px 64px rgba(0,0,0,0.07);
    img {
        position: absolute;
        top: 1rem !important;
        right: 1rem !important;
        transform: rotate(-60deg);
        width: 120px;
    }
}

// Links
.nav-link {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.button {
    background-color: #000;
    padding: 0.5rem;
    color: #fff;
    display: block;
    transition: box-shadow 0.2s ease-in;

    &:hover {
        box-shadow: $drop-shadow;
    }
}

.link {
    color: $dark-green;
    font-weight: bold;
    display: inline-block;

    &::after {
        content: "\2192";
        margin-left: 0.25rem;
        transition: all 0.2s ease-in;
    }

    &:hover::after, &:focus::after {
        margin-left: 0.5rem;
    }
}

.active-link {
    font-family: $din_bold;
}

.link-back {
    color: $dark-green;
    font-weight: bold;
    display: inline-block;

    &::before {
        content: "\2190";
        margin-right: 0.25rem;
        transition: all 0.2s ease-in;
    }

    &:hover::before, &:focus::before {
        margin-right: 0.5rem;
    }
}

// Header

header {
    max-width: 1024px;
    width: 80%;
    margin: auto;

    h1 {
        color: #000;
        margin: 1rem 0;
        line-height: 2.5rem;
    }
}

.header-small {
    font-size: 13px;
    display: inline-block;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: black;
        margin-top: 0.25rem;
    }
}

.sub-heading {
    position: relative;

    p {
        font-family: $din_bold;
        font-size: 1rem;
    }

    img {
        position: absolute;
        right: -4rem;
        top: 0;
        height: 100px;
    }
}

// Content container
#content-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 1024px;
}

/* .container {
    max-width: 1024px;
    width: 80%;
} */

// Decorative items

.stripe {
    display: block;
    width: 64px;
    height: 1px;
}

.stripe-full {
    display: block;
    width: 100%;
    height: 1px;
}

.arrow {
    animation: slow-bounce 2s infinite ease-in-out;
    img {
        filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.15));
    }
}

@keyframes slow-bounce {
    0%, 100% { transform: translateY(0.5rem);}
    50% { transform: translateY(0rem) }
}

// Vendors

.vendor-icon {
    width: 85px;
    height: 85px;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff;
    filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.15));

    img {
        width: 100%;
        height: auto;
    }
}

.vendors-container {
    .card {
        max-width: 348px;
    }
}

// Card

.card {
    box-shadow: $drop-shadow;
    background-color: #ffffff;
    margin-bottom: 2rem;
}

// Newsletter
#newsletter {
    position: relative;

    .form-container {
        position: relative;
        z-index: 2;
        box-shadow: $drop-shadow;
    }

    img:first-of-type {
        position: absolute;
        right: -4rem;
        top: -3rem;
        width: 100px;
        z-index: 1;
    }

    img:last-of-type {
        position: absolute;
        left: -4rem;
        bottom: -3rem;
        width: 100px;
        z-index: 1;
    }
}

.indicates-required {
    font-family: $din_bold;
}

#mc-embedded-subscribe {
    cursor: pointer;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
}

.error {
    color: $red;
    font-family: $din_bold;
}

.errorBorder {
    border: 1px solid $red;
    box-shadow: 0px 0px 3px $red;
}

// Footer
    footer {
        background-image: url('../../images/flowers_footer.svg');
        background-size: 75%;
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;

        .container {
            max-width: 1024px;
        }

        .footer-nav {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;

            a, span {
                text-align: center;
            }
        }

        .footer-bottom {
            display: grid;
            grid-template-columns: 10% 10% 60%;
            justify-content: space-between;

            img:first-of-type {
                margin-bottom: 1rem;
            }
        }
    }

// Recipes
    .recipes-container {
        .card {
            max-width: 348px;
            overflow: hidden;
            img {
                width: 100%;
                max-width: 348px;
            }
        }
    }

    .recipe-img {
        box-shadow: $drop-shadow;
    }

// Contact form
    .submit-btn {
        font-size: 1.25rem;
        color: $dark-green;

        &::after {
            content: "\2192";
            margin-left: 0.25rem;
            color: #000;
            transition: all 0.2s ease-in;
        }

        &:hover, &:focus {
            &::after {
                margin-left: 0.5rem;
            }
        }
    }

    .contact-details {
        margin-top: 6rem;

        p.font-serif {
            font-size: 1.5rem;
        }
    }

    .social-media {
        display: flex;

        a img {
            width: 22px;
            height: 22px;
            margin-right: 1rem;
        }
    }

// Vendor application
    .vendor-form-container {
        ul li {
            margin-bottom: 1rem;
        }
    }

    .large-checkbox-label {
        position: relative;
    }

    .large-checkbox {
        input[type="checkbox"] {
            display: none;
          }

        input[type="checkbox"] + *::before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            border: solid 1px black;
        }

        input[type="checkbox"]:checked + * {
            color: $dark-green;
        }

        input[type="checkbox"]:checked + *::before {
            content: "✓";
            color: white;
            text-align: center;
            background: $dark-green;
            border-color: $dark-green;
        }
    }

    .app-form-no-sell {
        list-style-type: none;
        padding-left: 0;

        li {
            display: flex;
        }

        li::before {
            content: "\00D7";
            font-weight: bold;
            color: $red;
            margin-right: 1rem;
        }
    }

    .prev, .next {
        margin-top: 50px;
        cursor: pointer;
        position: relative;
        width: auto;
        font-weight: bold;
        font-size: 18px;
        transition: 0.2s ease all;
        text-decoration: none;
        user-select: none;
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
    }

    .prev:hover, .next:hover {
        color: $dark-green;
    }

    .tc-table {
        border-collapse: collapse;
        margin-bottom: 2em;
        width: 100%;

        tbody, tr, td {
            margin: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        tr {
            border-bottom: 2px solid rgb(200,200,200);
        }

        td {
            padding: 1em 2em 1em 0 ;
        }

        td:first-child {
            font-weight: 700;
        }
    }

    #application-form {
        width: 100%;
        input, textarea {
            display: block;
        }

        input[type="radio"], input[type="checkbox"] {
            display: inline-block;
        }
    }

    .products-table {
        display: block;
        thead, tbody, th, td, tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 1rem;
            padding-top: 35px;
            display: flex;
            flex-direction: column;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        td:nth-of-type(1):before { content: "Product name"; font-family: $din_bold; }
	    td:nth-of-type(2):before { content: "Ingredients"; font-family: $din_bold; }
    }


@import 'mediaqueries';